
LOG_LEVEL=DEBUG

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_VHOST=/

AMQP_EXCHANGE=GL_EXCHANGE
AMQP_QUEUE_THUMB_GEN_REQUESTS=GL_GEN_THUMB_REQUESTS
AMQP_QUEUE_THUMB_DEL_REQUESTS=GL_DEL_THUMB_REQUESTS

DIR_ORIGINALS_ROOT=/your/runtime/originals
DIR_THUMBNAILS_ROOT=/your/runtime/thumbs

THUMBNAIL_WIDTHS_PX="256,512"


# === === === === === === === === === === === ===
# Telemetry settings

OTEL_ENABLED=true

# gRPC collector endpoint
OTEL_COLLECTOR_GRPC_ENDPOINT=localhost:4317
